@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFD9CD;
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #FFB5A5;
  height: 140px;
  padding: 10px 0;
}

.header__container {
  display: flex;
}

.header__logo {
  margin-right: 40px;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  color: #000000;
  transition: all .15s linear;
}
.link__active{
  color: #ffebe3;
  

}

.nav__link:hover {
  color: #ffebe3;
  text-decoration: underline;
}

.main {
  flex: 1;
  padding-top: 70px;
}

.main__title {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.main__description {
  text-align: center;
  margin-bottom: 25px;
}

.main__inputs {
  display: flex;
  flex-direction: column;
}

.main__input {
  width: 35%;
  margin: 0 auto 10px;
  height: 25px;
  border-radius: 50px;
  padding: 40px;
  font-size: 24px;
}

.main__button {
  width: 25%;
  padding: 30px;
  margin: 15px auto;
  background-color: #008C6B;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 20px;
  transition: all .1s linear;
}

.main__button:hover {
  transform: translateY(2px);
  background-color: #036c52;
}

.main__advise {
  text-align: center;
}

.footer {
  padding: 50px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__line {
  flex: 1;
  height: 2px;
  background-color: #000000;
  margin: 0 20px;
}

.footer__link {
  margin-right: 10px;
}

.footer__link:last-child {
  margin-right: 0;
}