@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------------------------------------*/

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFD9CD;
    color: #000000;
    font-size: 20px;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: #FFB5A5;
    height: 140px;
    padding: 10px 0;
}

.header__container {
    display: flex;
}

.header__logo {
    margin-right: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    color: #000000;
    transition: all .15s linear;
}
.link__active{
    color: #ffebe3;
    
  
  }

.nav__link:hover {
    color: #ffebe3;
    text-decoration: underline;
}


.main {
    flex: 1;
    padding-top: 70px;
}

.main__container {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.footer {
    padding: 50px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__line {
    flex: 1;
    height: 2px;
    background-color: #000000;
    margin: 0 20px;
}

.footer__link {
    margin-right: 10px;
}

.footer__link:last-child {
    margin-right: 0;
}